<!DOCTYPE html>
<html >
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
  <title>Wikipedia Protection NLP</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'> 
<style>
h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50.00%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
</style>
</head>
<body style="background-color:powderblue;">

 <div class="login">
        <h1 style="color: orange;">AI Blog Classifier</h1>
        <div style="margin-left:10%; margin-right:10%;",  outline-color: powderblue;>
        <img width="150" height="150", src="https://raw.githubusercontent.com/spe301/Wikipedia-Capstone/main/Images/logoo.png">
        </div>
	<h2 style="color: blue;">Flag AI generated blogs and essays</h2>
	<h2 style="color: blue;">paste in any article or essay, or Wikipedia url</h2>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="Text" placeholder="Text" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

</body>
</html>

